.signup-container {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  background-color: rgba(32, 58, 92, 0.9);
  background-position: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(46, 60, 83, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 20px;
  align-self: center;
  background-color: rgba(84, 112, 152, 0.9);
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
