.widget-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: none !important;
}

mat-card {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1.5rem;
  background-color: #fdfdfd;
  transition: none !important;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}
